<h1>Mission Planning Dashboard</h1>

<h3>
    Mission Name:
    <span *ngIf="!editingMission; else editMissionBlock">
        <span class="editable-text" (click)="editingMission = true;">{{ missionName }}</span>
    </span>
    <ng-template #editMissionBlock>
        <input #mission [value]=missionName/>
        <button (click)="updateMission(mission.value)" (key.enter)="updateMission(mission.value)">save</button>
    </ng-template>
</h3>

<h3>
    Carrier Rocket: 
    <span *ngIf="!editingRocket; else editRocketBlock">
        <span class="editable-text" (click)="editingRocket = true;">{{ rocketName }}</span>
    </span>
    <ng-template #editRocketBlock>
        <input #rocket [value]=rocketName/>
        <button (click)="updateRocket(rocket.value)" (key.enter)="updateRocket(rocket.value)">save</button>
    </ng-template>
</h3>
