<h3>Crew</h3>
<ul>
  <li *ngFor="let member of crew">
    <span *ngIf="memberBeingEdited !== member; else elseBlock">
        <span (click)="edit(member)" class="editable-text">{{member.name}}</span>
        <span *ngIf="member.firstMission">
          (1st mission)
        </span>
        <button (click)="remove(member)">remove</button>
    </span>
    <ng-template #elseBlock>
        <input #updatedName [value]="member.name"/> <button (click)="save(updatedName.value, member)">save</button>
    </ng-template>
  </li>
</ul>
<input #name type="text"/>
<label>First mission<input #firstMission type="checkbox"/></label>
<button (click)="add(name.value, firstMission.checked)">Add</button>
